@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;400&display=swap");
//variables
$clock-bg: white;
$active-bar-color: orange;
$clock-size: 200px;
$active-bar-width: 15px;

//mixin
@mixin flex($fdir: row, $ai: center, $jcn: center) {
  display: flex;
  justify-content: $jcn;
  align-items: $ai;
  flex-direction: $fdir;
}
@mixin placementHourIndicators {
  @for $i from 1 through 24 {
    &:nth-child(#{$i}) {
      $val: -75+ (($i - 1) * 15);
      transform: rotate(#{$val}deg);
      @if $i%6==0 {
        & > span {
          transform: rotate(#{(calc($i / 6) - 1) * -90}deg);
        }
      }
    }
  }
}
@mixin placementActiveIndicators {
  @for $i from 1 through 24 {
    &:nth-child(#{$i}) {
      $val: (($i - 1) * 15);
      transform: rotate(#{$val}deg);
    }
  }
}


//component
#clock {
  font-family: "Vazirmatn";
  margin: 10px;
  width: $clock-size;
  height: $clock-size;
  border-radius: 50%;
  position: relative;
  @include flex();

  .hour_container {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: $clock-bg;
    border-radius: 50%;
    width: calc(100% - $active-bar-width);
    height: calc(100% - $active-bar-width);
    position: relative;
    @include flex();
    .hour {
      transform-origin: center left;
      position: absolute;
      width: calc($clock-size / 2) - calc($active-bar-width / 2);
      padding:0 .5rem;
      @include flex($jcn: flex-end);
      left: 50%;
      &:not(.number)::after {
        content: "";
        width: #{($clock-size - $active-bar-width) * 0.04};
        height: 0.2rem;
        background-color: black;
      }
      @include placementHourIndicators;
    }
  }
  .activeHours_container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    .active_container {
      width: 100%;
      height: 100%;
      position: absolute;
      @include flex();
    }
    .active_indicator {
      position: absolute;
      transform-origin: center left;
      width: calc($clock-size / 2);
      @include flex($jcn: flex-end);
      left: 50%;
      background-color: $active-bar-color;
      height: 2 * math.$pi * calc($clock-size/48);
      @include placementActiveIndicators();
    }
  }
}
