.powerButton{
    width: 100%;
    height: 100%;
    min-height: 130px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    gap: 5px;
    > #header{
        display: flex;
        align-items: center;
        gap: 10px;
        > #icon{
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #3c859f;
            border-radius: 50%;
            > #iconImage{
                width: 12px;
                height: 12px;
            }
        }
        > #title{
            color: #333;
            font-size: 1.5rem;
        }
    }
    > #content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        > #label{
            position: absolute;
            top: 0;
            

        }
        > #statusLabel{
            color: #333;
            font-size: 1.45rem;
        }
    }
    
}