@import 'utils';

/* Global */

*{
    outline: none;
    box-sizing: content-box;
}

body{
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes sideRotation {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(50deg);
    }

    50% {
        transform: rotateY(0deg);
    }
    
    75%{
        transform: rotateY(-50deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.siteTempBox{
    padding: 7px;
    margin: 15px 0;
}

.siteTempTitle{
    font-size: 17px;
    margin-bottom: 15px;
}

/* Global (END) */

/* Dashboard */

.dashBoardLayout{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #f1f1f1;
    padding-bottom: 45px;
}

.mainShowFanBox{
    width: 100%;
    min-height: 40vh;
    background-color: $primaryColor;
    @include flexCenterYWithJustify(center);
    align-items: flex-end;
    position: relative;
    z-index: 0;
    margin-bottom: 80px;

    .showMainFanImage{
        position: relative;
        z-index: 1;

        & .showFanImageBox > img{
            width: 120px;
            height: 120px;
            position: absolute;
            bottom: 30px;
            left: -55px;
            z-index: 2;
        }

        &.active .showFanImageBox > img{
            animation: rotation 1s infinite linear;
        }

        &.active.rotation {

            &::after , .showFanImageBox{
                animation: sideRotation 4s infinite linear;
            }
        }

        &::before{
            content: '';
            width: 10px;
            height: 80px;
            display: block;
            background-color: rgba($color: #fff, $alpha: .7);
            position: relative;
            z-index: 0;
        }

        &::after{
            content: '';
            width: 35px;
            height: 35px;
            display: block;
            background-color: rgba($color: #fff, $alpha: .9);
            position: absolute;
            left: -12px;
            bottom: 70px;
            border-radius: 50%;
        }

    }

    .ShowFanBoxWave{
        overflow: hidden;
        position: absolute;
        bottom: -58px;
        z-index: -1;

        >img{
            width: 100%;
            filter: $primaryColorFilter;
        }

        &::before,
        &::after{
            content: '';
            width: 100%;
            height: 58px;
            background-image: url("../images/wave3.png");
            background-size: 100%;
            position: absolute;
            right: 0;
            filter: $primaryColorFilter;
            opacity: .7;
            transform: translateX(80px);
        }
        
        &::after{
            
            opacity: .3;
            transform: translateX(-105px);
            z-index: -1;
        }
    }
}

.controllItemCard{
    background-color: #fff;
    border-radius: 10px;
    padding: 7px;

    .controllItemCardHeader{
        
        @include flexCenterYWithJustify(flex-start);
        column-gap: 5px;
        margin-bottom: 15px;

        .controllItemCardHeaderIcon{
            width: 20px;
            height: 20px;
            background-color: $primaryColor;
            color: #fff;
            border-radius: 50%;
            padding: 3px;
        }
    }

}

.rotateControllCard{
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:7px 5px;
    margin-bottom: 25px;
    

    &.active{
        background-color: $primaryColor;
        color: #fff;
    }

    .rotateControllCardTitle{
        margin-top: 2.5px;
    }
}


/* Dashboard (END) */
