.fan{
    width: 100%;
    display: flex;
    flex-direction: column;
    > #fanContainer{
        width: 100%;
        height: 290px;
        background-color: #3c859f;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        

        div{
            border-radius: 50%;
            border: solid 1px #e2f0f3;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        > #fan-body{
            width: 220px;
            height: 220px;
            border-width: 3px;
            background: #88bac9 url(../../assets/blades.svg) no-repeat center / calc(100% - 35px) auto;
            margin-top: 110px;
            box-shadow: 0 0 40px #3c859f;
            z-index: 3;
            > #grid-layer-1{
                width: calc(100% - 25px);
                height: calc(100% - 25px);
                > #grid-layer-2{
                    width: calc(100% - 40px);
                    height: calc(100% - 40px);
                    > #grid-layer-3{
                        width: calc(100% - 40px);
                        height: calc(100% - 40px);
                        > #fan-cap{
                            width: calc(100% - 53px);
                            height: calc(100% - 53px);
                            background-color: #eceef2;
                            box-shadow: 0 0 30px #55a0b7;
                        }
                    }
                }
            }
        }




    }
    > #wave_3c859f{
        width: 100%;
        height: 100px;
        background: transparent url(../../assets/wave_3c859f.svg) no-repeat center / 100% auto;
        margin-bottom: -70px;
        z-index: 2;
        position: relative;
        > #stand{
            width: 15px;
            height: 200px;
            background-color: #f6f6f6;
            position: absolute;
            bottom: 13px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    > #wave_7bdcb5{
        width: 100%;
        height: 100px;
        background: transparent url(../../assets/wave_7bdcb5.svg) no-repeat center / 100% auto;
        margin-bottom: -102px;
        z-index: 1;
    }
    > #wave_f6f6f6{
        width: 100%;
        height: 100px;
        background: #bfd7ff url(../../assets/wave_f6f6f6.svg) no-repeat center / 100% auto;
    }
}